@model InventorySystem.Models.Purchase
@{
    ViewData["Title"] = "Reports";
}

<h1>Purchase Reports</h1>

<div class="card card-info">
    <div class="card-body">
        <form asp-action="Index" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-3">
                    <label asp-for="ProductId" class="control-label">product</label>
                    <select asp-for="ProductId" class="form-control chosen-select" asp-items="ViewBag.ProductId">
                        <option>همه</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label class="control-label" style="color:white">.</label>
                    <div class="form-group">
                        <input type="submit" style="width:90%" value="Search" class="btn btn-outline-primary" />
                    </div>
                </div>
                <div class="form-group col-lg-2">
                    <label class="control-label" style="color:white">چاپ</label>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" target="_blank" asp-action="PrintPurchaseReport">چاپ <i class=" nav-icon fa fa-print"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyingQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Reports)
        {
            <tr>
                <td>
                    @item.Product.Name
                </td>
                <td>
                    @item.PurchaseNo
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.BuyingQty
                </td>
                <td>
                    @item.Status
                </td>
            </tr>
        }
    </tbody>
</table>
