@model InventorySystem.Models.Customar

@{
    ViewData["Title"] = "Details";
}

<h1>جزیات</h1>

<div>
    <h4>پیرودونکي </h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-10">
            نوم
        </dt>

        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.CustomarImage)
        </dd>
        <dt class="col-sm-10">
            پیرودونکي عکس
        </dt>


        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-10">
            موبایل_نمبر
        </dt>

        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-10">
            ایمیل
        </dt>

        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-10">
            پته
        </dt>

        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-10">
            حالت
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">سمون</a> |
    <a asp-action="Index" class="btn btn-dark">بیرته لیست ته تلل</a>
</div>
